@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
/*
General Elements
*/
* {
  box-sizing: border-box; }

html, body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  color: #3c3c3c;
  font-size: 14px; }

h1, h3, h4, h5, h6 {
  font-weight: 400; }

a {
  text-decoration: none;
  color: #f7941f;
  transition: background 0.5s ease; }

a:hover {
  color: #f9ac50; }

img {
  width: 100%; }

h2 {
  font-weight: 700; }

textarea, input, button {
  outline: none; }

/*
List
*/
ul {
  padding-left: 1rem; }

li {
  margin-top: 1rem;
  margin-bottom: 1rem; }

/*
Size Helpers
*/
.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.full-size {
  width: 100%;
  height: 100%; }

.min-height-10 {
  min-height: 10rem; }

.height-20 {
  height: 20rem; }

.height-40 {
  height: 40rem; }

/*
Position Helpers
*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear-float {
  clear: both; }

/*
Layer Helpers
*/
.fix {
  position: fixed;
  overflow: auto; }

.layer-0 {
  z-index: 0; }

.layer-1 {
  z-index: 1; }

.layer-2 {
  z-index: 2; }

/*
Background Helpers
*/
.pri-bg {
  background-color: #f7941f; }

.pri-bg-l {
  background-color: #f9ac50; }

.pri-bg-d {
  background-color: #db7a08; }

.sec-bg {
  background-color: #21b474; }

.sec-bg-l {
  background-color: #2fd98f; }

.sec-bg-d {
  background-color: #198958; }

.ter-bg {
  background-color: #0570bd; }

.ter-bg-l {
  background-color: #068def; }

.ter-bg-d {
  background-color: #04538b; }

.black-bg {
  background-color: #222; }

.black-bg-l {
  background-color: #3c3c3c; }

.black-bg-d {
  background-color: #090909; }

.white-bg {
  background-color: #f5f5f5; }

.white-bg-l {
  background-color: white; }

.white-bg-d {
  background-color: gainsboro; }

/*
Text Helpers
*/
.txt-center {
  text-align: center; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.white-txt {
  color: #f5f5f5;
  font-weight: 300; }

.white-txt-l {
  color: white;
  font-weight: 300; }

.white-txt-d {
  color: gainsboro;
  font-weight: 300; }

.black-txt {
  color: #222; }

.black-txt-l {
  color: #3c3c3c; }

.black-txt-d {
  color: #090909; }

.pri-txt {
  color: #f7941f; }

.pri-txt-l {
  color: #f9ac50; }

.pri-txt-d {
  color: #db7a08; }

.sec-txt {
  color: #21b474; }

.sec-txt-l {
  color: #2fd98f; }

.sec-txt-d {
  color: #198958; }

.ter-txt {
  color: #0570bd; }

.ter-txt-l {
  color: #068def; }

.ter-txt-d {
  color: #04538b; }

.light {
  font-weight: 300; }

.normal {
  font-weight: 400; }

.semi {
  font-weight: 600; }

.bold {
  font-weight: 700; }

.extra {
  font-weight: 800; }

/*
Gap Helpers
*/
.clear-margin {
  margin: 0; }

.clear-padding {
  padding: 0; }

.clear-all {
  margin: 0;
  padding: 0; }

.padding-1 {
  padding: 1rem; }

.padding-t1 {
  padding-top: 1rem; }

.padding-l1 {
  padding-left: 1rem; }

.padding-r1 {
  padding-right: 1rem; }

.padding-b1 {
  padding-bottom: 1rem; }

.padding-l1r1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.padding-t1b1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.padding-l2 {
  padding-left: 2rem; }

.padding-r2 {
  padding-right: 2rem; }

.padding-t2 {
  padding-top: 2rem; }

.padding-b2 {
  padding-bottom: 2rem; }

.margin-1 {
  margin: 1rem; }

.margin-t1 {
  margin-top: 1rem; }

.margin-t2 {
  margin-top: 2rem; }

.margin-t3 {
  margin-top: 3rem; }

.margin-b1 {
  margin-bottom: 1rem; }

.margin-b2 {
  margin-bottom: 2rem; }

.margin-b3 {
  margin-bottom: 3rem; }

.margin-l1 {
  margin-left: 1rem; }

.margin-l2 {
  margin-left: 2rem; }

.margin-l3 {
  margin-left: 3rem; }

.margin-r1 {
  margin-right: 1rem; }

.margin-r2 {
  margin-right: 2rem; }

.margin-r3 {
  margin-right: 3rem; }

.margin-l1t1 {
  margin-left: 1rem;
  margin-top: 1rem; }

.margin-t1b1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin-t1r1 {
  margin-top: 1rem;
  margin-right: 1rem; }

.margin-r1b1 {
  margin-right: 1rem;
  margin-bottom: 1rem; }

.margin-l1r1 {
  margin-left: 1rem;
  margin-right: 1rem; }

.margin-l1t2 {
  margin-left: 1rem;
  margin-top: 2rem; }

/*
Border Helper
*/
.white-bd {
  border: 1px solid #f5f5f5; }

.white-bd-l {
  border: 1px solid white; }

.white-bd-d, input, textarea {
  border: 1px solid gainsboro; }

.black-bd {
  border: 1px solid #222; }

.black-bd-l {
  border: 1px solid #3c3c3c; }

.black-bd-d {
  border: 1px solid #090909; }

.primary-bd, input:focus, textarea:focus {
  border: 1px solid #f7941f; }

.primary-bd-l {
  border: 1px solid #f9ac50; }

.primary-bd-d {
  border: 1px solid #db7a08; }

.shadow-lb, .card {
  box-shadow: -1px 2px 12px -3px #3c3c3c; }

[class*='col-'] {
  float: left; }

/*
Basic Grids
*/
.col-1of3 {
  width: 33.33333%; }

.col-2of3 {
  width: 66.66667%; }

.col-1of4 {
  width: 25%; }

.col-1of2 {
  width: 50%; }

.col-3of4 {
  width: 75%; }

.col-1of5 {
  width: 20%; }

.col-2of5 {
  width: 40%; }

.col-3of5 {
  width: 60%; }

.col-4of5 {
  width: 80%; }

/*
Gap Grids
*/
.col-1of3-g {
  width: 31.33333%;
  margin-left: 1%;
  margin-right: 1%; }

.col-2of3-g {
  width: 64.66667%;
  margin-left: 1%;
  margin-right: 1%; }

.col-1of4-g {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%; }

.col-1of2-g {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%; }

.col-3of4-g {
  width: 73%;
  margin-left: 1%;
  margin-right: 1%; }

.col-1of5-g {
  width: 18%;
  margin-left: 1%;
  margin-right: 1%; }

.col-2of5-g {
  width: 38%;
  margin-left: 1%;
  margin-right: 1%; }

.col-3of5-g {
  width: 58%;
  margin-left: 1%;
  margin-right: 1%; }

.col-4of5-g {
  width: 78%;
  margin-left: 1%;
  margin-right: 1%; }

/*
Offset Grids
*/
.push-1of3 {
  margin-left: 33.33333%; }

.push-2of3 {
  margin-left: 66.66667%; }

.push-1of4 {
  margin-left: 25%; }

.push-3of4 {
  margin-left: 75%; }

.push-1of2 {
  margin-left: 50%; }

.push-1of5 {
  margin-left: 20%; }

.push-2of5 {
  margin-left: 40%; }

.push-3of5 {
  margin-left: 60%; }

.push-4of5 {
  margin-left: 80%; }

/*
Buttons
*/
button, .button, .button-pri, .button-sec, .button-ter {
  color: #f5f5f5;
  background: #222;
  border: 0px solid #090909;
  border-radius: 5px;
  box-shadow: inset 0 -4px 0 #090909;
  padding: 1rem;
  transition: background 0.5s ease; }

button:hover, .button:hover, .button-pri:hover, .button-sec:hover, .button-ter:hover {
  background: #3c3c3c;
  box-shadow: inset 0 -4px 0 #222; }

.button-pri {
  background: #f7941f;
  box-shadow: inset 0 -4px 0 #db7a08; }

.button-pri:hover {
  background: #f9ac50;
  box-shadow: inset 0 -4px 0 #f7941f; }

.button-sec {
  background: #21b474;
  box-shadow: inset 0 -4px 0 #198958; }

.button-sec:hover {
  background: #2fd98f;
  box-shadow: inset 0 -4px 0 #21b474; }

.button-ter {
  background: #0570bd;
  box-shadow: inset 0 -4px 0 #04538b; }

.button-ter:hover {
  background: #068def;
  box-shadow: inset 0 -4px 0 #0570bd; }

.square {
  border-radius: 0; }

.round {
  border-radius: 5px; }

/*
Forms
*/
input, textarea {
  border-radius: 5px;
  padding: 1rem;
  transition: border 0.5s ease; }

.bg-img-fix {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.bg-img {
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative; }

.cover {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.center-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.bg-video {
  position: relative;
  overflow: hidden; }

video#bgvid {
  width: 100%;
  z-index: -1; }

/*# sourceMappingURL=style.css.map */
