.card {
  @extend .shadow-lb;
  margin: $size-r1;
}
.img-border {
  @extend .white-bd-l;
  border-width: 10px;
}
.bg-img-fix {
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}
.bg-img {
  background: url(../images/bg.jpg) no-repeat center center; 
  background-size: cover;
  position: relative;
}
.cover {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.center-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.bg-video {
  position: relative;
  overflow: hidden;
}
video#bgvid {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.flash-pri {
  @extend .pri-bd-l;
  padding: $size-r1;
  background-color: $primary-base;
  color: $white-base;
}
.flash-sec {
  @extend .sec-bd-l;
  padding: $size-r1;
  background-color: $secondary-base;
  color: $white-base;
}
.flash-ter {
  @extend .ter-bd-l;
  padding: $size-r1;
  background-color: $tertiary-base;
  color: $white-base;
}
nav > ul > li {
  display: inline-block;
  margin: $size-r1;
}
.pri-bg > ul > li > a,.sec-bg > ul > li > a,.ter-bg > ul > li > a {
  color: $white-base;
}
.pri-bg > ul > li > a:hover,.sec-bg > ul > li > a:hover,.ter-bg > ul > li > a:hover {
  color: $white-light;
}
.circle {
  border-radius: 50%;
}
.round {
  border-radius: $size-r1;
}
.nav-bar {
  width: 100%;
  box-shadow: 0px 2px 10px -5px rgba(100,100,100,.5);
}
.dropdown {
  cursor: pointer;
  position:relative;
  float: left;
}
.dropdown > ul {
  box-shadow: 0px 2px 10px -5px rgba(100,100,100,.5);
  cursor: pointer;
  position: absolute;
  right: 0;
  padding-left: 0;
  display: none;
  list-style-type: none;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.dropdown > ul > li {
  margin: 0;
  padding: 0;
}
.dropdown:hover > ul {
  display: block;
}

.dropdown > ul > li > a {
  color: $black-light;
  padding: $size-r1 $size-r2;
  display: block
}

.dropdown > ul > li > a:hover {
  color: $black-base;
}

.dropdown:hover > ul > li:hover {
  background-color: $white-base;
  color: $black-base;
}
.pointer {
  position: absolute;
  border-style: solid;
  border-width: 0 25px 15px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -15px;
  left: 70px;
}
.content-break::before { 
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 25%;
  margin-right: $size-r2;
  background-color: $white-dark;
}
.content-break::after { 
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 25%;
  margin-left: $size-r2;
  background-color: $white-dark;
}
.arrow-up {
  @include arrow-up($black-base, 10px);
}
.arrow-down {
  @include arrow-down($black-base, 10px);
}
.arrow-left {
  @include arrow-left($black-base, 10px);
}
.arrow-right {
  @include arrow-right($black-base, 10px);
}
.crs {
  width: $carousel-width;
  height: $carousel-height;
  position: relative;
  overflow: hidden;
  margin-bottom: .1rem;
  border: 1px solid $white-light;
}
.crs-img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.crs button {
  @extend .margin-l1r1;
  font-size: 2rem;
  font-weight: $font-light;
  position: absolute;
  top: 45%;
  opacity: 0;
  transition: opacity .5s linear;
  padding: 1rem;
}
.crs:hover button {
  opacity: .7;
}
.crs button.left {
  left: 0;
}
.crs button.right {
  right: 0;
}
.crs-thumb {
  width: $carousel-width;
  .thumb {
    float: left;
    width: 100px;
    border: 1px solid $white-light;
    &.active {
      border: 1px solid $primary-base;
    }
  }
}
.overlay {
  background-color: $black-base;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.9;
  top: 0;
  left: 0;
  text-align: center;
}
.modal {
  visibility: hidden;
}
.modal .content {
  background-color: $white-base;
  width: $modal-width;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  left: (100% - $modal-width) / 2;
}