/*
General Elements
*/

html,body {
  font-family: $font;
  height: 100%;
  color: $black-light;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $font-normal;
}

a {
  text-decoration: none;
  color: $primary-base;
  transition: all 0.5s ease;
}

a:hover {
  color: $primary-light;
}

img {
  width: 100%;
}

/*
List
*/

ul {
  padding-left: $size-r1;
}

li {
  margin-top: $size-r1;
  margin-bottom: $size-r1;
}

/*
Buttons
*/

button, .button {
  color: $white-base;
  background: $black-base;
  border: 0px solid $black-dark;
  border-radius: $radius-base;
  box-shadow: inset 0 -4px 0 $black-dark;
  padding: $size-r1;
  transition: all 0.5s ease;
}

button:hover, .button:hover {
  background: $black-light;
  box-shadow: inset 0 -4px 0 $black-base;
}

.button-pri {
  @extend .button;
  background: $primary-base;
  box-shadow: inset 0 -4px 0 $primary-dark;
}

.button-pri:hover {
  background: $primary-light;
  box-shadow: inset 0 -4px 0 $primary-base;
}

.button-sec {
  @extend .button;
  background: $secondary-base;
  box-shadow: inset 0 -4px 0 $secondary-dark;
}

.button-sec:hover {
  background: $secondary-light;
  box-shadow: inset 0 -4px 0 $secondary-base;
}

.button-ter {
  @extend .button;
  background: $tertiary-base;
  box-shadow: inset 0 -4px 0 $tertiary-dark;
}

.button-ter:hover {
  background: $tertiary-light;
  box-shadow: inset 0 -4px 0 $tertiary-base;
}

/*
Forms
*/

/*
Table
*/