[class*='col-'] {
  float:left;
}

/*
Basic Grids
*/

.col-1of3 {
  width: 100% / 3 * 1;
}

.col-2of3 {
  width: 100% / 3 * 2;
}

.col-1of4 {
  width: 100% / 4 * 1;
}

.col-1of2 {
  width: 100% / 2 * 1;
}

.col-3of4 {
  width: 100% / 4 * 3;
}

.col-1of5 {
  width: 100% / 5 * 1;
}

.col-2of5 {
  width: 100% / 5 * 2;
}

.col-3of5 {
  width: 100% / 5 * 3;
}

.col-4of5 {
  width: 100% / 5 * 4;
}

/*
Gap Grids
*/

.col-1of3-g {
  width: 100% / 3 * 1 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

.col-2of3-g {
  width: 100% / 3 * 2 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

.col-1of4-g {
  width: 100% / 4 * 1 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

.col-1of2-g {
  width: 100% / 2 * 1 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

.col-3of4-g {
  width: 100% / 4 * 3 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

.col-1of5-g {
  width: 100% / 5 * 1 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

.col-2of5-g {
  width: 100% / 5 * 2 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

.col-3of5-g {
  width: 100% / 5 * 3 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

.col-4of5-g {
  width: 100% / 5 * 4 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

/*
Offset Grids
*/

.push-1of3 {
  margin-left: 100% / 3 * 1;
}

.push-2of3 {
  margin-left: 100% / 3 * 2;
}

.push-1of4 {
  margin-left: 100% / 4 * 1;
}

.push-3of4 {
  margin-left: 100% / 4 * 3;
}

.push-1of2 {
  margin-left: 100% / 2 * 1;
}

.push-1of5 {
  margin-left: 100% / 5 * 1;
}

.push-2of5 {
  margin-left: 100% / 5 * 2;
}

.push-3of5 {
  margin-left: 100% / 5 * 3;
}

.push-4of5 {
  margin-left: 100% / 5 * 4;
}