[class*='col-'] {
  float:left;
}

/* Basic Grids */
.col-1of1 {
  width: 100%;
}
.col-1of3 {
  width: 100% / 3 * 1;
}
.col-2of3 {
  width: 100% / 3 * 2;
}
.col-1of4 {
  width: 100% / 4 * 1;
}
.col-1of2 {
  width: 100% / 2 * 1;
}
.col-3of4 {
  width: 100% / 4 * 3;
}
.col-1of5 {
  width: 100% / 5 * 1;
}
.col-2of5 {
  width: 100% / 5 * 2;
}
.col-3of5 {
  width: 100% / 5 * 3;
}
.col-4of5 {
  width: 100% / 5 * 4;
}
.col-1of7 {
  width: 100% / 7 * 1;
}
.col-2of7 {
  width: 100% / 7 * 2;
}
.col-3of7 {
  width: 100% / 7 * 3;
}
.col-4of7 {
  width: 100% / 7 * 4;
}
.col-5of7 {
  width: 100% / 7 * 5;
}
.col-6of7 {
  width: 100% / 7 * 6;
}

/* Gap Grids */
.col-1of1-g {
  width: 100% - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-1of3-g {
  width: 100% / 3 * 1 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-2of3-g {
  width: 100% / 3 * 2 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-1of4-g {
  width: 100% / 4 * 1 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-1of2-g {
  width: 100% / 2 * 1 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-3of4-g {
  width: 100% / 4 * 3 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-1of5-g {
  width: 100% / 5 * 1 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-2of5-g {
  width: 100% / 5 * 2 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-3of5-g {
  width: 100% / 5 * 3 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-4of5-g {
  width: 100% / 5 * 4 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-1of7-g {
  width: 100% / 7 * 1 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-2of7-g {
  width: 100% / 7 * 2 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-3of7-g {
  width: 100% / 7 * 3 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-4of7-g {
  width: 100% / 7 * 4 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-5of7-g {
  width: 100% / 7 * 5 - $size-p1 * 2;
  @include margin-lr($size-p1);
}
.col-6of7-g {
  width: 100% / 7 * 6 - $size-p1 * 2;
  @include margin-lr($size-p1);
}

/* Offset Grids */
.push-1of3 {
  margin-left: 100% / 3 * 1;
}
.push-2of3 {
  margin-left: 100% / 3 * 2;
}
.push-1of4 {
  margin-left: 100% / 4 * 1;
}
.push-3of4 {
  margin-left: 100% / 4 * 3;
}
.push-1of2 {
  margin-left: 100% / 2 * 1;
}
.push-1of5 {
  margin-left: 100% / 5 * 1;
}
.push-2of5 {
  margin-left: 100% / 5 * 2;
}
.push-3of5 {
  margin-left: 100% / 5 * 3;
}
.push-4of5 {
  margin-left: 100% / 5 * 4;
}
.push-1of7 {
  margin-left: 100% / 7 * 1;
}
.push-2of7 {
  margin-left: 100% / 7 * 2;
}
.push-3of7 {
  margin-left: 100% / 7 * 3;
}
.push-4of7 {
  margin-left: 100% / 7 * 4;
}
.push-5of7 {
  margin-left: 100% / 7 * 5;
}
.push-6of7 {
  margin-left: 100% / 7 * 6;
}