@mixin transition($ease) {
  -webkit-transition: $ease;
  -moz-transition: $ease;
  -o-transition: $ease;
  transition: $ease;
}

@mixin transform($trans) {
  -webkit-transform: $trans;
  -ms-transform: $trans;
  transform: $trans;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}