@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

$font: 'Open Sans', sans-serif;
$font-light: 300;
$font-normal: 400;
$font-semi: 600;
$font-bold: 700;
$font-extra: 800;
$font-size: 14px;

$size-p1: 1%;
$size-p2: $size-p1 * 2;
$size-p3: $size-p1 * 3;

$size-r1: 1rem;
$size-r2: $size-r1 * 2;
$size-r3: $size-r1 * 3;
$size-r4: $size-r1 * 4;

$container-size: 80rem;

$radius-base: 3px;
$border-base: 1px;

$primary-base: #f7941f;
$secondary-base: #2F9778;
$tertiary-base: #0570bd;
$alert-base: #ff3939;
$black-base: #222;
$white-base: #f5f5f5;
$grey-base: #bbb;

$primary-light: lighten( $primary-base, 10%);
$primary-dark: darken( $primary-base, 10%);

$secondary-light: lighten( $secondary-base, 10%);
$secondary-dark: darken( $secondary-base, 10%);

$tertiary-light: lighten( $tertiary-base, 10%);
$tertiary-dark: darken( $tertiary-base, 10%);

$black-light: lighten( $black-base, 10%);
$black-dark: darken( $black-base, 10%);

$white-light: lighten( $white-base, 10%);
$white-dark: darken( $white-base, 10%);

$alert-light: lighten( $alert-base, 10%);
$alert-dark: darken( $alert-base, 15%);

$grey-light: lighten( $grey-base, 5%);
$grey-dark: darken( $grey-base, 5%);

$background-color: $white-light;
$link-color: $primary-base;
$link-color-hover: $primary-light;

$card-width: 20rem;
$card-height: 28rem;
$card-img-height: 20rem;

$carousel-width: 500px;
$carousel-height: 500px;

$modal-width: 50%;
$thumb-width: 5rem;